<!DOCTYPE html>
<html><head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500">
<style>
  html {
      height: 100%;
  }
  body{
      font-family: 'Raleway', sans-serif;
      background: linear-gradient(90deg, #67C0F9 100%, #9EE6FB 100%);
      color: #000000;
      margin: 0;
  }
  #main{
      display: table;
      width: 100%;
      height: 100vh;
      text-align: center;
  }
  .fof{
      display: table-cell;
      vertical-align: middle;
  }
  .fof h1{
      font-size: 50px;
      display: inline-block;
      padding-right: 12px;
  }
</style>

</head><body>

  <div id="main">
    <div class="fof">
          <h1><%- root_html %></h1>
          <br/>
          <a href="/">Reload application</a>
    </div>
</div>
</body></html>
